<mat-sidenav-container class="sidenav-container w-full flex-auto mx-auto">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="isHandset() ? 'dialog' : 'navigation'"
               mode="over"
               position="end">
    <mat-toolbar>{{ user.user()?.displayName }}</mat-toolbar>
    <mat-nav-list>
      <div class="p-2 flex flex-col items-stretch gap-2">
        <button mat-button (click)="logout()">
          <mat-icon>logout</mat-icon>
          Log af
        </button>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="d-flex flex-row justify-between">
      <span>Min sol🌻</span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
