<mat-sidenav-container class="sidenav-container w-full flex-auto mx-auto">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="isHandset() ? 'dialog' : 'navigation'"
               mode="over"
               position="end">
    <common-sidebar/>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="d-flex flex-row justify-between">
      <span>Min sol🌻</span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet/>
  </mat-sidenav-content>
</mat-sidenav-container>
