<mat-sidenav-container class="sidenav-container w-full flex-auto mx-auto">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="isHandset() ? 'dialog' : 'navigation'"
               mode="over"
               position="end">
    <mat-toolbar>{{ user.user()?.displayName }}</mat-toolbar>
    <mat-nav-list>
      <div class="p-2">

        <a mat-list-item routerLink="/events">
          <mat-icon matListItemIcon>event</mat-icon>
          <h4 matListItemTitle>Hændelser</h4>
        </a>
        <button mat-list-item (click)="logout()">
          <mat-icon matListItemIcon>logout</mat-icon>
          <h4 matListItemTitle>Log af</h4>
        </button>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="d-flex flex-row justify-between">
      <span>Min sol🌻</span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet/>
  </mat-sidenav-content>
</mat-sidenav-container>
